{% extends "layout.html" %} {% block title %} Sell {% endblock %} {% block main %}
<form action="/sell" method="post">





    <div class="form-group">
        <select name="symbol" class="custom-select custom-select-lg mb-3">
            {% for symbol in symbols %}
            <option>{{ symbol }}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares to Sell" type="text" />
        </div>
        <button class="btn btn-primary" type="submit">Sell Shares</button>
</form>
{% endblock %}
